@namespace AzureMapsControl.Sample.Animations

<div class="animations-btns">
    <button class="btn btn-primary" @onclick="DisposeAsync">Dispose</button>
    <button class="btn btn-primary" @onclick="PauseAsync">Pause</button>
    <button class="btn btn-primary" @onclick="PlayAsync">Play</button>
    <button class="btn btn-primary" @onclick="ResetAsync">Reset</button>
    <button class="btn btn-primary" @onclick="SeekAsync">Seek 0.5</button>
    <button class="btn btn-primary" @onclick="StopAsync">Stop</button>
</div>

@code  {

    [Parameter]
    public EventCallback OnDispose { get; set; }

    [Parameter]
    public EventCallback OnPause { get; set; }

    [Parameter]
    public EventCallback OnPlay { get; set; }

    [Parameter]
    public EventCallback OnReset { get; set; }

    [Parameter]
    public EventCallback OnSeek { get; set; }

    [Parameter]
    public EventCallback OnStop { get; set; }

    public async Task DisposeAsync(MouseEventArgs e)
    {
        await OnDispose.InvokeAsync();
    }

    public async Task PauseAsync(MouseEventArgs e)
    {
        await OnPause.InvokeAsync();
    }


    public async Task PlayAsync(MouseEventArgs e)
    {
        await OnPlay.InvokeAsync();
    }

    public async Task ResetAsync(MouseEventArgs e)
    {
        await OnReset.InvokeAsync();
    }

    public async Task SeekAsync(MouseEventArgs e)
    {
        await OnSeek.InvokeAsync();
    }

    public async Task StopAsync(MouseEventArgs e)
    {
        await OnStop.InvokeAsync();
    }
}