@page "/Popups/CustomizePopup"

@using AzureMapsControl.Components.Map
<AzureMap Id="map"
          EventActivationFlags="MapEventActivationFlags
                                .None()
                                .Enable(MapEventType.Ready)"
          OnReady="OnMapReady"/>

@code  {

    public async Task OnMapReady(MapEventArgs eventArgs)
    {
        var popup = new Components.Popups.Popup(new Components.Popups.PopupOptions {
            Content = "<div style=\"padding:10px;color:white\">Hello World</div>",
            Position = new Components.Atlas.Position(0, 0),
            FillColor = "rgba(0,0,0,0.8)",
            CloseButton = false,
            OpenOnAdd = true
        });

        await eventArgs.Map.AddPopupAsync(popup);
    }

}