<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Samples</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All"> Home </NavLink>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Animations
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <NavLink class="dropdown-item" href="/Animations/Drop"> Drop </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Animations/DropMarkers"> Drop markers </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Animations/GroupAnimations"> Group animations </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Animations/Morph"> Morph </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Animations/MoveAlongPath"> Move along path </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Animations/MoveAlongRoute"> Move along route </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Animations/MoveMarkerAlongPath"> Move marker along path </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Animations/MavingDashedLine"> Moving dashed line </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Animations/SetCoordinates">Set coordinates</NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Animations/SetMarkerCoordinates">Set marker coordinates</NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Animations/Snakeline">Snakeline</NavLink>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Controls
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <NavLink class="dropdown-item" href="/Controls/Basic"> Basic controls </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Controls/ControlsOnReady"> Controls on ready </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Controls/Fullscreen"> Fullscreen </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Controls/GeolocationControl"> Geolocation control </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Controls/OverviewMap"> Overview map </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Controls/Scalebar"> Scalebar </NavLink>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Drawing
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <NavLink class="dropdown-item" href="/Drawing/DrawingToolbar"> Toolbar </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Drawing/DrawingToolbarOnReady"> Toolbar on ready </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Drawing/DrawingToolbarUpdate"> Toolbar update </NavLink>
                        </li>
                    </ul>
                </li>
                <NavLink class="nav-link" href="Indoor"> Indoor </NavLink>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Layers
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <NavLink class="dropdown-item" href="/Layers/BubbleLayerOnReady"> Bubble layer </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Layers/HeatmapLayerOnReady"> Heatmap layer </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Layers/ImageLayerOnReady"> Image layer </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Layers/LineLayerOnReady"> Line layer </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Layers/PolygonLayerOnReady"> Polygon layer </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Layers/PolygonExtrusionLayerOnReady"> Polygon extrusion layer </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Layers/SymbolLayerOnReady"> Symbol layer </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Layers/SymbolLayerWithFeatures"> Symbol layer with features </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Layers/TileLayerOnReady"> Tile layer </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Layers/VectorTileSource"> Vector tile source </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Layers/LayerRemove"> Remove layer </NavLink>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Markers
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <NavLink class="dropdown-item" href="/Markers/HtmlMarkerPopup"> HTML marker popup </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Markers/HtmlMarkers"> HTML markers </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Markers/HtmlMarkersOnReady"> HTML markers on ready </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Markers/HtmlMarkersRemove"> Remove HTML markers </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Markers/HtmlMarkersUpdate"> Update HTML markers </NavLink>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Options
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <NavLink class="dropdown-item" href="/Options/CameraOptions"> Camera options </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Options/StyleOptions"> Style options </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Options/UserInteractionOptions"> User interaction options </NavLink>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Popups
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <NavLink class="dropdown-item" href="/Popups/CustomizePopup"> Customize popup </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Popups/MultipleContentTemplate"> Multiple content template </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Popups/NoDefinedTemplate"> No defined template </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Popups/PopupEvents"> Popup events </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Popups/PopupOnReady"> Popup on ready </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Popups/PropertyInfoTemplate"> PropertyInfo template </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Popups/ReusePopup"> Reuse popup </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Popups/ReuseTemplate"> Reuse template </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Popups/StringTemplate"> String template </NavLink>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Sources
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <NavLink class="dropdown-item" href="/Sources/ExtrudedGriddedDatasource"> Extruded gridded datasource </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Sources/GriddedDatasourceOptions"> Gridded datasource options </NavLink>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Traffic
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <NavLink class="dropdown-item" href="/Traffic/Basics"> Basics </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/Traffic/TrafficOptionsUpdate"> Traffic options update </NavLink>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>